<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Events')">
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optional, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
    <meta charset="UTF-8"/>
    <title>EvenGathering</title>
    <link href="https://cdn.jsdelivr.net/bootswatch/3.3.5/paper/bootstrap.css" rel="stylesheet" media="screen" />
</head>
<body>
<th:block th:include="fragments::header"/>
<div class="container">
    <div class="jumbotron">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Community Name</th>
                <th>Community VK link</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="community" type="com.github.vvserdiuk.model.Community"*/-->
            <tr th:each="community : ${communities}">
                <td th:text="${community.id}"></td>
                <td th:text="${community.title}"></td>
                <td th:text="${community.vkLink}"></td>
                <!--TODO-->
                <td><a href="#" class="btn btn-primary">Edit</a></td>
                <td><a href="#" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:include="fragments::footer"/>
</body>
</html>