<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Events')">
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optional, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
    <meta charset="UTF-8"/>
    <title>EvenGathering</title>
    <link href="https://cdn.jsdelivr.net/bootswatch/3.3.5/paper/bootstrap.css" rel="stylesheet" media="screen" />
</head>
<body>
<th:block th:include="fragments::header"/>
<div class="container">
    <!--/*@thymesVar id="event" type="com.github.vvserdiuk.model.Event"*/-->
    <h1 th:text="${event.title}"></h1>
    <table class="table" >
        <tr>
            <td><img th:src="${event.imageLink}"/></td>
            <td >
                <blockquote>
                    <div th:utext="${event.description}"> </div>
                </blockquote>
                <h4  th:text="${event.startDateTime.getDayOfMonth()}+' ' + ${event.startDateTime.getMonth().toString().toLowerCase()}+''+' '+${event.startDateTime.toLocalTime()}"></h4>
                <h4><a th:href="${event.community.vkLink}"  target="_blank" th:text="${event.community.title}"></a></h4>
            </td>
        </tr>
    </table>



</div>
<th:block th:include="fragments::footer"/>
</body>
</html>